{% extends "AppBundle::Sitio/layout.html.twig" %}
{% set interna = true %}

{% block content %}

<section id="ficha" class="wow fadeInUp">
            <div class="container">
                <header class="section-header"> 
                    <h3>Apart 6 personas</h3>
                </header>
                <div class="row">
                    <div class="col-lg-6">

                        <!-- Carousel de fotos-->
                        <div class="ficha-carousel owl-carousel owl-theme">

							{{ render(controller('AppBundle:Default:galeria',{galeria_id: 5})) }}
                            
                        </div>
                        
                        <div class="ficha-destacado">
                            <ul class="lista-destacada">
                                <li><i class="fas fa-home"></i> 3 ambiente</li>
                                <li><i class="fas fa-user"></i> 6 personas</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <p class="text-left">Apart de 3 ambientes para 6 personas en una sola planta, con 2 baños completos, deck privado y parrilla individual.</p>

                        <ul class="main-list">
                            <li><i class="fas fa-check-circle"></i> Gran living comedor</li>
                            <li><i class="fas fa-check-circle"></i> Diván cama con carrito</li>
                            <li><i class="fas fa-check-circle"></i> Amplia cocina totalmente equipada</li>
                            <li><i class="fas fa-check-circle"></i> Balcón aterrazado con parrilla</li>
                            <li><i class="fas fa-check-circle"></i> 2 baños completos</li>
                            <li><i class="fas fa-check-circle"></i> Espacio para estacionar semicubierto</li>
                        </ul>

                        <header class="section-header"> 
                            <h4>Equipamiento</h4>
                        </header>
                        <ul class="main-list">
                            <li><i class="fas fa-check-circle"></i> Heladera</li>
                            <li><i class="fas fa-check-circle"></i> Microondas</li>
                            <li><i class="fas fa-check-circle"></i> Extractor de aire</li>
                            <li><i class="fas fa-check-circle"></i> Cocina eléctrica</li>
                            <li><i class="fas fa-check-circle"></i> Vajilla y batería de cocina</li>
                            <li><i class="fas fa-check-circle"></i> TV por cable (dos por apart)</li>
                            <li><i class="fas fa-check-circle"></i> DVD</li>
                            <li><i class="fas fa-check-circle"></i> Teléfono</li>
                            <li><i class="fas fa-check-circle"></i> Caja de seguridad</li>
                            <li><i class="fas fa-check-circle"></i> Ventiladores de techo</li>
                            <li><i class="fas fa-check-circle"></i> Calefacción central por radiadores</li>
                            <li><i class="fas fa-check-circle"></i> Parrillas individuales con mesa y sillas</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}