{% extends "AppBundle::Sitio/layout.html.twig" %}
{% set interna = true %}

{% block content %}

<section id="ficha" class="wow fadeInUp">
            <div class="container">
                <header class="section-header"> 
                    <h3>Dúplex 7 personas</h3>
                </header>
                <div class="row">
                    <div class="col-lg-6">

                        <!-- Carousel de fotos-->
                        <div class="ficha-carousel owl-carousel owl-theme">

							{{ render(controller('AppBundle:Default:galeria',{galeria_id: 7})) }}
                            
                        </div>
                        
                        <div class="ficha-destacado">
                            <ul class="lista-destacada">
                                <li><i class="fas fa-home"></i> 3 ambientes</li>
                                <li><i class="fas fa-user"></i> 7 personas y un bebé</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <p class="text-left">Amplio dúplex de 3 ambiente, 2 baños y balcón aterrazado con parrilla individual.</p>

                        <header class="section-header"> 
                            <h4>Planta inferior</h4>
                        </header>
                        <ul class="main-list">
                            <li><i class="fas fa-check-circle"></i> Gran living comedor</li>
                            <li><i class="fas fa-check-circle"></i> Diván cama con carrito</li>
                            <li><i class="fas fa-check-circle"></i> Amplia cocina totalmente equipada</li>
                            <li><i class="fas fa-check-circle"></i> Balcón aterrazado con parrilla</li>
                            <li><i class="fas fa-check-circle"></i> Toilette</li>
                        </ul>

                        <header class="section-header"> 
                            <h4>Planta superior</h4>
                        </header>
                        <ul class="main-list">
                            <li><i class="fas fa-check-circle"></i> Amplio dormitorio matrimonial con Sommier King</li>
                            <li><i class="fas fa-check-circle"></i> Segundo dormitorio con 2 camas de una plaza y 1 carrito</li>
                            <li><i class="fas fa-check-circle"></i> Baño completo compartimentado</li>
                        </ul>


                        <header class="section-header"> 
                            <h4>Equipamiento</h4>
                        </header>
                        <ul class="main-list">
                            <li><i class="fas fa-check-circle"></i> Heladera</li>
                            <li><i class="fas fa-check-circle"></i> Microondas</li>
                            <li><i class="fas fa-check-circle"></i> Cocina con horno</li>
                            <li><i class="fas fa-check-circle"></i> Pava eléctrica</li>
                            <li><i class="fas fa-check-circle"></i> Cafetera eléctrica</li>
                            <li><i class="fas fa-check-circle"></i> Vajilla y batería de cocina</li>
                            <li><i class="fas fa-check-circle"></i> Extractor de aire</li>  
                            <li><i class="fas fa-check-circle"></i> Secador de pelo</li>
                            <li><i class="fas fa-check-circle"></i> TV por cable (dos por apart)</li>
                            <li><i class="fas fa-check-circle"></i> DVD</li>
                            <li><i class="fas fa-check-circle"></i> Teléfono</li>
                            <li><i class="fas fa-check-circle"></i> Caja de seguridad</li>
                            <li><i class="fas fa-check-circle"></i> Ventiladores de techo</li>
                            <li><i class="fas fa-check-circle"></i> Calefacción central por radiadores</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}