{% extends "AppBundle::Sitio/layout.html.twig" %}
{% set interna = true %}
{% block content %}

<section id="ficha" class="wow fadeInUp">
            <div class="container">
                <header class="section-header"> 
                    <h3>Suite 2 personas</h3>
                </header>
                <div class="row">
                    <div class="col-lg-6">
                        <!-- Carousel de fotos-->
                        <div class="ficha-carousel owl-carousel owl-theme">
							{{ render(controller('AppBundle:Default:galeria',{galeria_id: 2})) }}
                        </div>
                        
                        <div class="ficha-destacado">
                            <ul class="lista-destacada">
                                <li><i class="fas fa-home"></i> 1 ambiente</li>
                                <li><i class="fas fa-user"></i> Dos personas y un bebé</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <p class="text-left">Cómoda suite con baño privado, para 2 personas. Puede incorporarse una practicuna.</p>
                        <ul class="main-list">
                            <li><i class="fas fa-check-circle"></i> Sommier King</li>
                            <li><i class="fas fa-check-circle"></i> TV por cable</li>
                            <li><i class="fas fa-check-circle"></i> Frigobar</li>
                            <li><i class="fas fa-check-circle"></i> Pava eléctrica</li>
                            <li><i class="fas fa-check-circle"></i> Cafetera eléctrica</li>
                            <li><i class="fas fa-check-circle"></i> Baño completo</li>
                            <li><i class="fas fa-check-circle"></i> Secador de pelo</li>
                            <li><i class="fas fa-check-circle"></i> Espacio para estacionar descubierto</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}